body yt-live-chat-app{
  --yt-live-chat-action-panel-background-color: none;
  --yt-spec-icon-inactive: rgba(0, 0, 0, .3);
  --yt-spec-10-percent-layer: rgba(0, 0, 0, .1);
  --yt-live-chat-header-bottom-border: 1px solid var(--yt-spec-10-percent-layer);
  --yt-live-chat-panel-pages-border-color: var(--yt-spec-10-percent-layer);
}
html[dark] body yt-live-chat-app, body yt-live-chat-app[dark]{
  --yt-spec-icon-inactive: rgba(255, 255, 255, .3);
  --yt-spec-10-percent-layer: rgba(255, 255, 255, .1);
}
yt-live-chat-banner-manager,
yt-live-chat-renderer,
yt-live-chat-header-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-text-message-renderer,
#card.yt-live-chat-viewer-engagement-message-renderer,
#menu.yt-live-chat-text-message-renderer,
#container.yt-live-chat-restricted-participation-renderer,
yt-live-chat-renderer[has-action-panel-renderer] #action-panel.yt-live-chat-renderer{
  background: none !important;
}
yt-icon-button.yt-live-chat-header-renderer yt-icon.yt-live-chat-header-renderer,
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text{
  color: var(--iron-icon-fill-color, currentcolor) !important;
}
yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer{
  scrollbar-width: thin;
}
yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar{
  width: 8px;
}
yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-thumb{
  border: 0;
}
html[dark] yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer{
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.15);
}
html[dark] yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-track{
  background-color: transparent;
}
html[dark] yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.2);
}
html[dark] #unfocused.yt-live-chat-text-input-field-renderer{
  background: rgba(255, 255, 255, 0.1);
}
html[dark] .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline{
  border-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}
html:not([dark]) yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer{
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.15);
}
html:not([dark]) yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-track{
  background-color: transparent;
}
html:not([dark]) yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.2);
}
html:not([dark]) #unfocused.yt-live-chat-text-input-field-renderer{
  background: rgba(0, 0, 0, 0.1);
}
html:not([dark]) .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline{
  border-color: rgba(0, 0, 0, 0.1) !important;
  color: #000 !important;
}
yt-live-chat-ninja-message-renderer{
  background: none !important;
}
yt-live-chat-renderer #panel-pages.yt-live-chat-renderer{
  border-bottom: none !important;
  box-shadow: var(--yt-spec-10-percent-layer) 0 -1px inset;
}
yt-reaction-control-panel-view-model:not([reaction-control-panel-expanded]) #fab-container.yt-reaction-control-panel-view-model:not(:hover){
  background: none !important;
}
html[data-ambientlight-layout-performance-improvements] #items.yt-live-chat-item-list-renderer{
  transform: none !important;
}
html[data-ambientlight-layout-performance-improvements] yt-live-chat-text-message-renderer,
html[data-ambientlight-layout-performance-improvements] yt-live-chat-paid-message-renderer,
html[data-ambientlight-layout-performance-improvements] yt-live-chat-membership-item-renderer{
  content-visibility: auto;
  contain-intrinsic-size: auto 100px;
}
html[data-ambientlight-layout-performance-improvements] #item-scroller.yt-live-chat-item-list-renderer:hover{
  will-change: scroll-position !important;
}
